/*<Overall styling for every page of the site>*/
* {
    box-sizing: border-box;
}
body {
    background: url(../img/clouds.png);
    font-family: "Cabin", Arial, sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}
h1, h3 {
    color: #c80060;
    font-family: "Niconne", cursive;
    font-weight: normal;
    margin-top: 0;
}
h1 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.4em;
}
ul { /*whole site unordered lists*/
    list-style-type: none;
    margin: 0; /*to remove ul margin from browser*/
    padding: 0;
}
img { /*whole site images*/
    border-radius: 6px;
    width: 100%; /*to decrease image size during narrowing browser window*/
    max-width: 300px; /*in order to not increase image above its width*/
}
header img {
    height: 190px;
}
nav:before { /*scallop above navigation*/
    content: '';
    display: block; /*to move navigation under the scallop*/
    background-image: url(../img/scallop.png);
    height: 12px; /*to give some height beacuse of no content*/
}
nav ul { /*navigation menu*/
    background-color: #e6bf98;
    display: flex; /*to set navigation elements in line*/;
    flex-wrap: wrap;
    padding-left: 10px;
    border-bottom: 3px solid #cc8850;
}
nav li {
    flex-basis: 50%; /*for 2 columns navigation in mobile*/
}
nav a { /*navigation links*/
    text-decoration: none;
    color: #c80060;
    display: block;
    margin: 10px 15px;
}
nav a:hover {
    color: #11d5d8;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #11d5d8;
}
footer p { /* footer elements both copyright and social media icons*/
    text-align: center;
}
footer .copyright {
    flex-basis: 100%;
    color: white;
}
footer img { /*social media icons*/
    width: auto;
}
main { /*main content container existing on every subpage*/
    padding: 1em;
    background-color: #fff6e0;
}
button, .button /*for form submit button*/ { /*nice red rounded buttons*/
    display: block;
    background-color: #c80060;
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    border-radius:50px;
    color: white;
    font-family: "Niconne", cursive;
    font-size: 20px; 
}
.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside {
    border-radius: 10px;
    margin: 2em 0;
}
aside h3 {
    margin: 0;
    padding-left: 10px;
    color: white;
    border-radius: 10px 10px 0 0; /*to fit aside shape*/
}
aside img {
    width: 100%; 
    display: block; /*to remove space under image*/
    border-radius: 0 0 10px 10px; /*to fit aside shape*/
}
aside.testimonials { /*Testimonials aside element*/
    border: 1px solid #11d5d8;
}
aside.testimonials h3 {
    background-color: #11d5d8;
}
aside.potm { /*Pie of the month aside element*/
    border: 1px solid #c80060;
    max-width: 300px; /*in order to not increase above image size*/
}
aside.potm h3 {
    background-color: #c80060;
}
blockquote {
    margin: 10px; /*to decrease browser build-in margin */
}
.floated-right {
    float: right;
    margin: 0 0 15px 15px; /*for space around image*/
    width: 100%;
    max-width: 200px;
}
form fieldset {
    border: none;
}
form fieldset > * {
    display: block;
    margin: 2px 0;
}
form fieldset > label {
    font-weight: bold;
}
form legend {
    color: #c80060;
    font-size: 1.4em;
}
/*End of </Overall styling for every page>*/

/*<Content for specific pages>*/
.home-container { /*Home sub page content*/
    /*Grid system for mobile*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
.home-container article {
    text-align: justify;
}
.catering-container ul{
    list-style-type: disc;
    margin-left: 2em;
}
.gallery-container ul {
    display: flex;
    flex-wrap: wrap;
}
.gallery-container li {
    flex-basis: 100%; /*one image in a row on mobile gallery*/
}
/*End of </Content for specific pages>*/

/* --------------------------------- M E D I U M S C R E E N S -------------------------------
e.g. tablets. Above 520px*/
@media (min-width: 520px) {
    main {
        padding: 2em;
    }
    h1 {font-size: 2em;}
    h3 {font-size: 1.8em;}
    nav li {
        flex-basis: auto; /*one line navigation on wider screens*/
    }
    nav::after {
        content: '';
        display: block;
        background: url(../img/header-850.jpg) no-repeat;
        height: 130px;
    }
    .aside {
        flex-direction: row;
        align-items: flex-start;
    }
    aside {
        flex-basis: 50%;
        margin: 2em;
    }
    .home-container {
        grid-template-columns: 49% 49%;
        grid-gap: 0 2%;
    }
    .home-container article:first-child {
        grid-column: 1/3; 
    }
    .gallery-container li {
        flex-basis: 50%; /*two image in a row on tablet gallery*/
    }
    .history-container picture {
        width: 250px;
        max-width: 250px;
    }
}
/* --------------------------------- W I D E S C R E E N S -------------------------------
e.g. desktop computers. Above 800px*/
@media (min-width: 850px) {
    h1 {
        border-bottom: 2px dotted #c80060;
        font-size: 2.5em;
    }
    nav::after {
        background: url(../img/header-1200.jpg) no-repeat;
        height: 180px;
    }
    .aside {
        flex-direction: column;
    }
    aside {
        flex-basis: auto;
        margin: 2em 0;
    }
    .home-container { 
        grid-template-columns: 23.5% 23.5% 23.5% 23.5%; /* beacuse 23.5% * 4 = 94% + 2% grid gap * 3 = 100% */
    }
    .home-container article:first-child { 
        grid-column: 1/5; /*to span across all grid columns*/
    }
    .menu-container, .catering-container, .history-container, .contact-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 2em;
    }
    .gallery-container li {
        flex-basis: 33.3%; /*three image in a row on mobile gallery*/
    }
    .history-container picture {
        width: 300px;
        max-width: 300px;
    }
}